{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link rel="stylesheet" href="{% static 'css/font.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'images/jimwell.png' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="bg-gray-100">

        {% include 'header.html' %}
        <div class="h-20"></div>

        <main>
            {% include 'main-card.html' %}
            <div class="flex flex-col gap-1 mx-5">
                <nav class="bg-white border border-gray-200 rounded-lg shadow-sm py-2" id="navigation">
                <div class="flex flex-row mx-5 gap-3 md:gap-4">
                    <a href="{% url 'index' %}#navigation" class="text-sm font-bold px-4 py-2 rounded-lg {% if current_route == 'index' %}bg-blue-700 text-gray-50{% else %}text-gray-900{% endif %}">
                        Projects
                    </a>
                    <a href="{% url 'experience' %}#navigation" class="text-sm font-bold px-4 py-2 rounded-lg {% if current_route == 'experience' %}bg-blue-700 text-gray-50{% else %}text-gray-900{% endif %}">
                        Experience
                    </a>
                    <a href="{% url 'skills' %}#navigation" class="text-sm font-bold px-4 py-2 rounded-lg {% if current_route == 'skills' %}bg-blue-700 text-gray-50{% else %}text-gray-900{% endif %}">
                        Skills
                    </a>
                    <a href="{% url 'certificates' %}#navigation" class="text-sm font-bold px-4 py-2 rounded-lg {% if current_route == 'certificates' %}bg-blue-700 text-gray-50{% else %}text-gray-900{% endif %}">
                        Certificates
                    </a>
                </div>
                </nav>
                <div class="bg-white border border-gray-200 rounded-lg shadow-sm">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </main>

        <footer>
                <p class="text-sm text-gray-900 w-full text-center">&copy; 2025 <a href="" class="font-semibold">ibayjimwell</a>, All Rights Reserved.</p>
        </footer>
</body>
</html>
