{% load static %}

<div class="flex flex-col md:flex-row gap-4 justify-center mx-5">
    <article class="flex justify-center">
        <div class="p-10 bg-white border border-gray-200 rounded-lg shadow-sm">
            <div class="flex flex-row gap-10">
                <div>
                    <h1 class="flex flex-col gap-4 mb-2 text-5xl font-bold tracking-tight text-gray-900">
                        <div>I will turning Ideas</div>
                        <div>Into <span class="text-blue-600">Modern & Scalable</span></div>
                        <div>Web Applications</div>
                    </h1>
                    <p class="mt-6 font-normal text-gray-700">
                        <div class="text-xl">A software engineer that's can build <span class="font-bold">desktop</span> and </div>
                        <div class="text-xl"><span class="font-bold">web applications</span> to provide solution to a certain problem.</div>
                    </p>
                    <a href="#" class="mt-6 inline-flex items-center px-4 py-3 text-md font-semibold text-center text-white bg-blue-700 hover:bg-blue-800">
                        Let's Work Together
                        <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                        </svg>
                    </a>
                </div>
                <div>
                    <img class="h-auto w-64 hidden md:block" src="{% static 'images/jimwell.png' %}" alt="Jimwell Ibay">
                </div>
            </div>
        </div>
    </article>
    
    <article class="flex justify-center">
        <div class="p-10 bg-white border border-gray-200 rounded-lg shadow-sm">
            <div class="flex flex-row gap-10">
                <div>
                    <h1 class="flex flex-col gap-4 mb-2 text-5xl font-bold tracking-tight text-gray-900">
                        <div>I Am Building</div>
                        <div>Software <span class="text-blue-600">Solutions</span></div>
                        <div>To Drive Industry Growth</div>
                    </h1>
                    <p class="mt-6 font-normal text-gray-700">
                        <div class="text-xl">I work with implementing programming principles like</div>
                        <div class="text-xl"><span class="font-bold">DRY</span>, <span class="font-bold">KISS</span>, <span class="font-bold">Clean Code</span> and <span class="font-bold">OOP</span>.</div>
                    </p>
                    <a href="#" class="mt-6 inline-flex items-center px-4 py-3 text-md font-semibold text-center text-white bg-blue-700 hover:bg-blue-800">
                        Download My CV
                        <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                        </svg>
                    </a>
                </div>
                <div>
                    <img class="h-auto w-64 hidden md:block" src="{% static 'images/cv.jpg' %}" alt="Jimwell Ibay CV">
                </div>
            </div>
        </div>
    </article>
</div>

<div class="h-4"></div>